
   <!DOCTYPE html>
  <html lang="en">
  
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <link rel="stylesheet" href="/css/style.css">
      <title>Document</title>
  </head>
  
  <body>
  
  
      <header>
          <h1 class="logo">logo</h1>
          <ul class="list-nav">
              <li class="menu"><i class="bx bx-menu-alt-right"></i></li>
              <li><a href="#" class="active">Home</a></li>
              <li><a href="#">Qui somme nous</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Trafications</a></li>
              <li><a href="" class="contact">Contact</a></li>
          </ul>
          <i class="bx bx-menu"></i>
      </header>
  
  
  
      <section class="sec intro">
          <div class="bg"></div>
          <div class="flech">
              <i class='bx bx-chevron-left'></i>
              <i class='bx bx-chevron-right'></i>
          </div>
          <div class="slide slide1">
              <div class="text">
                  <h1>Fournisseur voip au Maroc</h1>
                  <p>Appel-VolP fournisseur VOIP, vend des minutes d'excellente qualité à des prix très
                      avantageux. Nous fournissons des minutes et des forfaits illimités vers la france et
                      geographique monde de qualité premium pour vos centres d'appels au maroc. Appel-
                      VoIP voip offre un coût réduit.</p>
                  <a href="" class="suit">Lire la suit</a>
              </div>
          </div>
          <div class="slide slide2 hideslide">
              <div class="text">
                  <h1>Fournisseur voip au Maroc</h1>
                  <p>Appel-VolP fournisseur VOIP, vend des minutes d'excellente qualité à des prix très
                      avantageux. Nous fournissons des minutes et des forfaits illimités vers la france et
                      geographique monde de qualité premium pour vos centres d'appels au maroc. Appel-
                      VoIP voip offre un coût réduit.</p>
                  <a href="" class="suit">Lire la suit</a>
              </div>
          </div>
      </section>
      <section class="solution">
          <div class="contenaire">
              <div>
                  <h1>Solutions Personnalisées Pour Centres D'appels</h1>
              </div>
              <div>
                  <p>Sabphone met à votre disposition sa grande expérience dans les domaines cités, une expérience de plus
                      de 10 ans avec une maitrise globale des différentes demandes et nécessités du marché.</p>
              </div>
          </div>
      </section>
      <section class="cards">
          <div class="allcards">
              <div class="card">
                  <div class="image onee" >
                  </div>
                  <div class="title">Opérateur VOIP Premium</div>
                  <div class="informat">
                      <p>solutions de téléphonie IP de qualité, avec des coûts et tarifs très compétitifs.</p>
                      <a href="/price">En Savoir Plus →</a>
                  </div>
              </div>
              <div class="card">
                  <div class="image toww">
                  </div>
                  <div class="title">CRM en hébergé</div>
                  <div class="informat">
                      <p>propose une solution CRM pour centre d'appels simple, performante, sécurisée et économique.</p>
                      <a href="#">En Savoir Plus →</a>
                  </div>
              </div>
              <div class="card">
                  <div class="image tree">
                  </div>
                  <div class="title">Intégration</div>
                  <div class="informat">
                      <p>C'est une solution parfaite pour les entreprises qui utilisent fortement des solutions de centre
                          d'appels telles que :
                          .</p>
                      <a href="/price">En Savoir Plus →</a>
                  </div>
              </div>
              <div class="card">
                  <div class="image  fourrr">
                  </div>
                  <div class="title">SIP Trunk</div>
                  <div class="informat">
                      <p>La solution VoIP Trunk permet au client de connecter une centrale téléphonique (de type PABX)
                          compatible avec la voix sur IP.</p>
                      <a href="/price">En Savoir Plus →</a>
                  </div>
              </div>
          </div>
      </section>


      <section class="Statistic">
          <div class="stat">
              <h2 class="number" data-num="10">00</h2>
              <P class="descr">Ans D'expresience</P>
          </div>
          <div class="stat">
              <h2 class="number" data-num="450">00</h2>
              <P class="descr">Agents Utilisant Nos Service</P>
          </div>
          <div class="stat">
              <h2 class="number" data-num="44">00</h2>
              <P class="descr">Client Satisfaits</P>
          </div>
          <div class="stat">
              <h2 class="number" data-num="24">00</h2>
              <P class="descr">Pays Couverts</P>
          </div>
      </section>
      <section class="">
          <div class="Feature">
              <div class="featinfo">
                  <h1>CRM Hébergé Pour Centre D'appels</h1>
                  <h4>CRM DE GESTION DES APPELS ENTRANTS ET SORTANTS OFFERTE aux CENTRES D’APPELS</h4>
                  <p>SabPhone propose une solution CRM Personnalisé pour les centres d’appels simple, performante,
                      sécurisée et économique. Contrairement à un CRM Hébergé pour centre d’appels gratuit. GoAutoDial en
                      Hébergé réunit une qualité optimale à une offre commerciale compétitive, grâce aux multiples
                      fonctionnalités et aux outils qu’elle offre.</p>
                  <a href="#" class="contact">contact</a>
              </div>
              <img src="../img/Fournisseur-de-Téléphonie-VoIP-et-Editeur-GOautoDial.png" alt="">
          </div>
  
      </section>
      <section>
          <div class="contenairetwo">
              <div class="detialestwo">
                  <h1>predictive dialer</h1>
                  <img src="./img/Predicif-dialer.png" alt="">
                  <p>La numérotation prédictive est une méthode permettant de passer plusieurs appels sortants automatisés
                      sans utiliser d'agents. Les appels répondus sont ensuite transmis aux agents. Un ordinateur prend
                      des décisions de numérotation en fonction de certains algorithmes pour soutenir les objectifs
                      commerciaux.</p>
              </div>
              <div class="detialestwo">
                  <h1>Facturation à la Seconde</h1>
                  <img src="../img/solde-minute.png" alt="">
                  <p>SabPhone propose une solution CRM Personnalisé pour les centres d’appels simple, performante,
                      sécurisée et économique. Contrairement à un CRM Hébergé pour centre d’appels gratuit. GoAutoDial en
                      Hébergé</p>
              </div>
              <div class="detialestwo">
                  <h1>Ecoute/Soufflage</h1>
                  <img src="../img/ecoute.png" alt="">
                  <p>Avec cette option, le superviseur, équipé d'un téléphone ou softphone et d'un casque, peut en direct
                      via une interface web écouter discrètement une conversation ou souffler à l'agent ce qu'il faut dire
                      sans que le client entende</p>
              </div>
              <div class="detialestwo">
                  <h1>Enregistrement</h1>
                  <img src="../img/enregistrement.png" alt="">
                  <p>Avec cette option, les appels peuvent être enregistrés et sont consultables et téléchargeables via
                      une interface web pendant 1 mois. L'enregistrement est idéal pour la formation, le contrôle qualité
                      ou en cas de litige.</p>
              </div>
              <div class="detialestwo">
                  <h1>Appel Entrant</h1>
                  <img src="../img/Appels-entrant.png" alt="">
                  <p>L'option appel entrant avec un numéro SDA permet de recevoir des appels entrant avec montée de fiche
                      possible. Les appels entrants peuvent être dirigés sur un poste ou sur une file d'attente avec
                      musique d'attente, messagerie</p>
              </div>
              <div class="detialestwo">
                  <h1>Gérer vos rappels</h1>
                  <img src="../img/enregistement-des-rappels.jpg" alt="">
                  <p>Des rappels automatiques peuvent être programmés à J+1 h, 1 jour, 1 semaine en fonction du résultat
                      d'appel. Les rappels à date et heure fixes peuvent être programmés et remontent automatiquement
                      quelque soit la campagne en cours</p>
              </div>
              <div class="detialestwo">
                  <h1>progressif/Preview</h1>
                  <img width="100" height="84" src="../img/preview-progressive.png" alt=""
                      class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                  <p>Le progressif dialer permet de numéroter automatiquement en cliquant sur LANCER APPELS puis sur APPEL
                      SUIVANT en même temps que la fiche monte. Le Preview dialer permet la numérotation automatique en
                      cliquant sur NUMEROTER.</p>
              </div>
          </div>
      </section>


      <section class="contactus">
          <div class="contform">
              <div class="bg"></div>
              <h1>Contacter-Nous</h1>
              <p>Notre équipe se fera un plaisir de répondre à toutes vos questions</p>
          </div>

        <form  method="post" >
              <h2>Formulaire de Contact</h2>
              <div class="sousForm1">
                  <div class="sousForm2">
                      <input placeholder="Nom" type="text" name="name"   required>
                      <input placeholder="Email" type="email"  name="email" required>
                      <input placeholder="Numero de Telephone" type="number" name="number" required>
                  </div>
                  <div>
                      
                      <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
                  </div>
              </div>
              <button type="submit"  onclick="createUser()">ENVOIE</button>
          </form>

      </section>


      <footer>
          <div class="rowone">
              <div>
                  <p>
                      The customer is at the heart of our unique business model, which
                      includes design.
                  </p>
              </div>
              <div>
                  <h3>contact us</h3>
                  <ul>
                      <li>+212 6 38 95 45 90</li>
                      <li>+212638954590</li>
                      <li>info@sabphone.net</li>
                      <li>Casablanca</li>
                  </ul>
              </div>
              <div>
                  <h3>INFORMATIONS</h3>
                  <ul>
                      <li>Qui somme nous</li>
                      <li>Services</li>
                      <li>Trafications</li>
                      <li>Contact</li>
                  </ul>
              </div>
              <div>
                  <h3>NEWLETTER</h3>
                  <p>
                      Be the first to know about new arrivals, look books, sales & promos!
                  </p>
                  <input type="text" placeholder="Entre your email" />
              </div>
          </div>
          <div class="rowtwo">
              <div class="line"></div>
              <p>
                  Copyright © 20222020 All rights reserved |<i class="bx bx-heart"></i>
                  This template is made with by us
              </p>
          </div>
      </footer>
      <script src="/js/script.js"></script>
  </body>
  
  </html> 


  {{!-- <form method="post">

    <div>

        <input type="text" name="name" pattern="[A-Za-z]{2,}" required>
        <br>
        <label>email</label>
        <input type="email" name="email" min="1" max="199" required>
        <br>
        <label>Téléphone:</label>
        <input type="tel" name="number" pattern="^0[0-9]{9}" required>
        <br>
        <button type="submit" onclick="createUser()">Créer utilisateur</button>
    </div>



  </form> --}}