<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/server.css">
    <link rel="stylesheet" href="css/style.css">


    <!-- <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />   -->
    <title>Document</title>
</head>
<body>

  <header>
    <h1 class="logo">logo</h1>
    <ul class="list-nav">
    <li class="menu"><i class="bx bx-menu-alt-right"></i></li>
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#">Qui somme nous</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Trafications</a></li>
      <li><a href="" class="contact">Contact</a></li>
    </ul>
    <i class="bx bx-menu"></i>
  </header>

    <section class="secone">
        <div class="bg2"></div>
        <div class="links">
            <h1>Opérateur VOIP</h1>
            <div>
                <a href="">Acceuil</a>
                <p>Opérateur VOIP</p>
            </div>
        </div>
    </section>
    <section class="fournisseur">
        <h1>VOIP Centre D'appel Maroc</h1>
        <div class="allinfo12">
            <div class="info1">
                <h4>
                    Sabphone est fournisseur de minutes VoIP Premium destinées aux professionnels des centres d’appel Au Maroc.
                </h4>
                <p>
                    Bénéficiant de son expérience de plus de 10 ans dans la téléphonie VoIP Premium et le domaine des centres de contact, SabPhone, vient avec des formules de téléphonie bien étudiées et adaptées aux besoins des centres de contact leur permettant d’avoir une qualité de communication optimale.
        
                    SabPhone a choisis pour mission d’accompagner les centres de contact dans leur développement en leur proposant des offres de télécommunication IP avec des coûts concurrentiels, ainsi qu’une flexibilité par rapport à l’évolution du centre de contact en terme de postes.
                </p>
            </div>
            <div class="info2">
                <p>
                    Les offres de téléphonie IP de Sabphone destinées aux centres de contact se distinguent par de multiples avantages :
                </p> 
                <li>Nombre illimité de canaux.</li>
                <li>Compatible tous agents SIP.</li>
                <li>Sécurité supérieure de trafic VoIP.</li>
                <li>Pas d’abonnement ou de frais mensuels.</li>
                <li>Retour sur investissement optimisé.</li>
                <li>La qualité VoIP Premium.</li>
                <li>Le suivi de vos consommations en temps réel.</li>
                <li>Une terminaison de A à Z.</li>
                <li>Une liaison directe International.</li>
            </div>
        </div>
    </section>
    <section class="tarif">
        <h1>Nos Tarifs</h1>
        <table>
            <tbody>
                <tr>
                    <td>Canada</td>
                    <td>0.005 EUR</td>
                </tr>
                    <tr>
                        <td>France Fixe</td>
                        <td>0.006 EUR</td>
                </tr>
                <tr>
                <td>France Mobile</td>
                <td>0.027 EUR</td>
                </tr>
                 <tr>
                <td>Belgique Fixe</td>
                <td>0.028&nbsp;EUR</td>
                </tr>
                <tr>
                <td>Uk Fixe</td>
                <td>0.006 EUR</td>
                </tr>
                <tr>
                <td>Swiss Fixe</td>
                <td>0.0290 EUR</td>
             </tr>
            <tr>
            <td>Swiss Mobile</td>
            <td>0.190 EUR</td>
             </tr>
                        
            </tbody>
        </table>
        <a href="" class="cont">Demander une Devis</a>
    </section>
    <footer>
        <div class="rowone">
       <div>
         <p>
           The customer is at the heart of our unique business model, which
           includes design.
         </p>
       </div>
       <div>
         <h3>contact us</h3>
         <ul>
           <li>+212 6 38 95 45 90</li>
           <li>+212638954590</li>
           <li>info@sabphone.net</li>
           <li>Casablanca</li>
         </ul>
       </div>
       <div>
         <h3>INFORMATIONS</h3>
         <ul>
           <li>Qui somme nous</li>
           <li>Services</li>
           <li>Trafications</li>
           <li>Contact</li>
         </ul>
       </div>
       <div>
         <h3>NEWLETTER</h3>
         <p>
           Be the first to know about new arrivals, look books, sales & promos!
         </p>
         <input type="text" placeholder="Entre your email" />
       </div>
       </div>
       <div class="rowtwo">
       <div class="line"></div>
       <p>
         Copyright © 20222020 All rights reserved |<i class="bx bx-heart"></i>
         This template is made with by us
       </p>
       </div>
           </footer>

 <script src="../public/js/script.js"></script>   
</body>
</html>